<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/styles/auth.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Страница входа</h1>
    <form th:action="@{/login/processing}" method="POST">
        <div class="alerts">
            <div th:if="${logout}" class="alert alert-info" role="alert">Вы вышли</div>
            <div th:if="${error}" class="alert alert-error" role="alert">Ошибка входа</div>
            <div th:if="${registred}" class="alert alert-error" role="alert">Вы успешно зарегестрировались</div>
        </div>
        <div>
            <label for="username">Имя:</label>
            <input type="text" id="username" name="username" placeholder="Username" required />
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" placeholder="Password" required />
        </div>
        <div>
            <button type="submit">Войти</button>
        </div>
    </form>

    <div class="register-section">
        <p>Еще нет аккаунта?</p>
        <a th:href="@{/registration}" class="register-button">Зарегистрироваться</a>
    </div>
</div>
</body>
</html>